<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
</head>
<body>
    <header>Calcule sua média:</header>

    <form action="/media" method="POST">
        <label>Digite seu nome</label>
        <input type="text" name="nome">

        <label>Digite a primeira média</label>
        <input type="text" name="num1">
        
        <label>Segunda nota:</label>
        <input type="text" name="num2">
        <br>
        <input type="submit" value="Calcular media" class="botao">
    </form>

</body>
</html>